<div class="row text-center">
    <div class="col-sm-6">
        <div class="row">
            <div class="btn-group-vertical conditions">
                <label class="btn btn-primary ng-valid ng-dirty active" ng-model="radioModel" btn-radio="'Like-New'" >Like New</label>
                <label class="btn btn-primary ng-valid ng-dirty" ng-model="radioModel" btn-radio="'Scratches-Cracks'">Scratches & Cracks</label>
                <label class="btn btn-primary ng-valid ng-dirty" ng-model="radioModel" btn-radio="'Faulty'">Faulty</label>
            </div>

            <div class="form-group" style="margin-top: 20px">
                <a href="" class="btn btn-info" ng-click="viewReward('device-reward')" ng-disabled="radioModel == null" style="
                    margin-left: -40px;
                    padding: 10px;
                ">Evaluate Your Rewards</a>
            </div>

            <div>
                <div class="condition">
                    <div class="body">
                        <strong>Normal Condition</strong> means If ALL of the following are true:
                        <ul>
                            <li><span class="glyphicon glyphicon-ok text-success"></span>Powers on and makes calls</li>
                            <li><span class="glyphicon glyphicon-ok text-success"></span> No cracked screen or frame</li>
                            <li><span class="glyphicon glyphicon-ok text-success"></span>  Minor scratches or nicks on screen or frame</li>
                            <li><span class="glyphicon glyphicon-ok text-success"></span> All buttons click and are not jammed</li>
                            <li><span class="glyphicon glyphicon-ok text-success"></span> Has never been wet</li>
                        </ul>
                    </div>
                </div>

                <div class="condition">
                    <div class="body">
                        <strong>Cracked Glass</strong> means In 'Normal' condition except one of the following:
                        <ul>
                            <li><span class="glyphicon glyphicon-ok text-success"></span>Front glass cracked</li>
                            <li><span class="glyphicon glyphicon-ok text-success"></span> Rear glass cracked</li>
                            <li><span class="glyphicon glyphicon-ok text-success"></span> LCD has spots, discoloration or is black</li>
                            <li><span class="glyphicon glyphicon-ok text-success"></span> Screen does not recognize touch</li>
                        </ul>
                    </div>
                </div>

                <div class="condition">
                    <div class="body">
                        <strong>Faulty Condition</strong> means If ANY of the following are true:
                        <ul>
                            <li><span class="glyphicon glyphicon-ok text-success"></span> Does not power on or make calls</li>
                            <li><span class="glyphicon glyphicon-ok text-success"></span> Jammed, missing or malfunctioning buttons</li>
                            <li><span class="glyphicon glyphicon-ok text-success"></span> Serious physical damage to frame like bends or cracks</li>
                            <li><span class="glyphicon glyphicon-ok text-success"></span> Has been repaired or tampered with</li>
                            <li><span class="glyphicon glyphicon-ok text-success"></span> Has gotten wet</li>
                            <li><span class="glyphicon glyphicon-ok text-success"></span> Engraved</li>
                            <li><span class="glyphicon glyphicon-ok text-success"></span> Jailbroken/Rooted</li>
                         </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="col-sm-6 device-model">
        <span class="icon" ng-class="device_class"></span>
        <h3>{{ image_label }}</h3>
    </div>


</div>